header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  height: 90px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slogan {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-task {
  cursor: pointer;
}
